---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Section from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout
	title="Potfolio Alfredo Zuñiga - Desarrollador Full Stack +5 años de experiencia"
	description="A lo largo de mi carrera, he crecido, aprendido constantemente y he generado resultados medibles en los proyectos en los que he trabajado. Estoy comprometido con seguir mejorando, a contribuir en proyectos exitosos y a aportar valor a cada equipo con el que colaboro.">
	<main class="px-10 md:px-12 lg:px-4">
		<Section class="pt-32 md:pt-52 lg:pt-64">
			<Hero/>
		</Section>
		<Section id="experiencia" class="pt-32">
			<Experience/>
		</Section>
		<Section id="proyectos" class="pt-32">
			<Projects/>
		</Section>
		<Section id="habilidades" class="pt-32">
			<Skills/>
		</Section>
		<Section id="sobremi" class="pt-32">
			<AboutMe/>
		</Section>
	</main>
</Layout>