---
import UserIcon from "../../public/icons/User.astro"
---
<h1 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
    <UserIcon class="size-7"/>
    Un Poco Sobre Mi
<h1/>
<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
    <span>Soy </span><span class="text-yellow-200/90">José Alfredo Zúñiga Esparza</span>
    <span>resido en </span><span class="text-yellow-200/90">Aguascalientes</span><span>, México.</span>
    <span class="text-gray-300">Me apasione por la programación hasta los primeros años de universidad y de ahí se convirtió en una parte de mi vida.</span>
    <span>Creo que me inclino un poco mas hacia el</span>
    <span class="text-yellow-200/90"> Fron End</span><span>, pero </span>
    <span class="text-yellow-200/90">me gusta aprender cualquier cosa nueva.</span>
    <span> Ademas de la tecnología me intersan mas cosas como:</span>
    <span class="text-yellow-200/90">los Autos, los Videojuegos, la Ciencia, la Lectura, los Legos</span>
    <span>y sobre todo </span><span class="text-yellow-200/90">pasar tiempo con mi Familia.</span>
</h2>