---
import UserIcon from "../../public/icons/User.astro"
---
<h1 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
    <UserIcon class="size-7"/>
    Un Poco Sobre Mi
<h1/>
<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
    <span class="opacity-75">Soy </span><span class="text-yellow-200/90">José Alfredo Zúñiga Esparza</span>
    <span>soy de </span><span class="text-yellow-200/90">Aguascalientes</span><span>, México. Me apasione por la programación hasta los primeros años de universidad y de ahí se convirtió en una parte de mi vida. Creo que me inclino un poco mas hacia el Fron End, pero me gusta aprender cualquier cosa nueva. Ademas de la tecnología me intersan mas cosas como: los Autos, los Videojuegos, la Ciencia, la Lectura, los Legos y sobre todo pasar tiempo con mi Familia.</span>
</h2>