---
import ExperienceItem from "./ExperienceItem.astro"
import BriefcaseIcon from "../../public/icons/Briefcase.astro"
const experience = [
    {
        date: 'Junio 2024 - Marzo 2025',
        title: 'Desarrollador FullStack',
        company: 'Prime Corp Tech',
        description: `
            • Colaboré en el desarrollo de aplicaciones web completas para diversos sectores, utilizando tecnologías modernas y realizando soluciones escalables.
            • En el Front End, trabajé con Angular 17, creando interfaces dinámicas y responsivas para una buena experiencia de usuario.
            • En el Backend, implementé .NET Core para desarrollar APIs robustas y métodos que garanticen un buen rendimiento.
            • Gestioné bases de datos utilizando SQL Server.
            • Utilicé el Framework de ABP de manera que Front End, Back End y base de datos estuvieran conectados y trabajaran en sincronía.

            - Proyectos Destacados

            • Desarrollé una aplicación para una Consultoría de Proyectos, creando una aplicación que ayudará a su administración de contratos, clientes y proyectos.
            • Participé en la creación de un sistema para un Hospital, enfocado a la administración de consultas médicas, sus pacientes y sus médicos.
            • Colaboré en una plataforma para el control de evaluaciones online, trabajando principalmente en la administración de empleados, certificados, y evaluaciones.
        `,
        // link: '#'
    },
    {
        date: 'Abril 2021 - Mayo 2024',
        title: 'Desarrollador FullStack',
        company: 'Vianney Textil Hogar',
        description: `
            • Desarrollé aplicaciones web utilizando tecnologías como Angular 10, NodeJs 17, .NET con arquitectura MVC, GitLab y PL/SQL en Oracle.
            • Implementé servicios automatizados en Windows usando C# y NodeJs, para optimizar procesos administrativos bancarios.
            • Desarrollé y consumí APIs usando .NET y NodeJS, mejorando los tiempos de lectura en almacén para la creación guías de rastreo y facilitando la integración con los demás sistemas.
            • Creé paquetes y procedimientos en PL/SQL para la generación de reportes robustos, optimizando los tiempos de ejecución y la precisión de los datos.
        `
    },
    {
        date: 'Mayo 2019 - Marzo 2021',
        title: 'Desarrollador FrontEnd en Angular',
        company: 'Boz IT Development',
        description: `
            • Desarrollé una plataforma web robusta en equipo para la administración de remesas, utilizando Angular 8, JavaScript, HTML y CSS.
            • Trabajé bajo metodologías Agile y Scrum, me desempeñé como líder técnico por un tiempo.
        `
    },
    {
        date: 'Septiembre 2018 - Mayo 2019',
        title: 'Desarrollador FullStack en .NET',
        company: 'Informatic Help Agenc',
        description: `
            • Me desempeñé como desarrollador Full Stack creando una plataforma web para control de documentos fiscales, usando tecnologías como .NET en arquitectura MVC.
        `
    }
]
---

<h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
    <BriefcaseIcon class="size-7"/>
    Experiencia Laboral
<h2/>
<ol class="relative border-s border-gray-200 ml-2">
    {
        experience.map(exp => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...exp}/>
        </li>
        ))
    }
</ol>
