---
import ExperienceItem from "./ExperienceItem.astro"
import BriefcaseIcon from "../../public/icons/Briefcase.astro"
const experience = [
    {
        date: 'Junio 2024 - Actualmente',
        title: 'Desarrollador FullStack',
        company: 'Prime Corp Tech',
        description: '• Colaboro en el desarrollo de aplicaciones web completas y robustas para diversos sectores, usando tecnologias modernas. En el FrontEnd, trabajo con ASngular 17, Para el BackEnd implemento .NET Core. Gestiono base de datos mediante SQL Server. Y para la estructura y organizacion del proyecto utilizo ABP Framework.',
        link: '#'
    },
    {
        date: 'Abril 2021 - Mayo 2024',
        title: 'Desarrollador FullStack',
        company: 'Vianney Textil Hogar',
        description: '• Desarrollé aplicaciones web utilizando tecnologías como Angular 10, NodeJs 17, .NET con arquitectura MVC, GitLab y Oracle. • Desarrollé de servicios automatizados de Windows usando C# y NodeJS. • Desarrollé y consumí API REST usando .NET y NodeJS. • Creé paquetes, procedimientos y realicé programación en Oracle PL/SQL.'
    },
    {
        date: 'Mayo 2019 - Marzo 2021',
        title: 'Desarrollador FrontEnd en Angular',
        company: 'Boz IT Development',
        description: '• Me desempeñe como desarrollador FrontEnd de una plataforma web robusta usando tecnologías como Angular 8, JavaScript, maquetado en HTML y CSS, apoyando a BackEnd con .NET y SQL. • Trabajo con metodología SCRUM.'
    },
    {
        date: 'Septiembre 2018 - Mayo 2019',
        title: 'Desarrollador FullStack en .NET',
        company: 'Informatic Help Agenc',
        description: '• Trabajé como desarrollador FullStack de una plataforma web para control de documentos fiscales usando tecnologías como .NET en la arquitectura MVC.'
    }
]
---

<h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
    <BriefcaseIcon class="size-7"/>
    Experiencia Laboral
<h2/>
<ol class="relative border-s border-gray-200 ml-2">
    {
        experience.map(exp => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...exp}/>
        </li>
        ))
    }
</ol>
