---
import ExperienceItem from "./ExperienceItem.astro"
import BriefcaseIcon from "../../public/icons/Briefcase.astro"
const experience = [
    {
        date: 'Junio 2024 - Actualmente',
        title: 'Desarrollador FullStack',
        company: 'Prime Corp Tech',
        description: `
            • Colaboro en el desarrollo de aplicaciones web completas y robustas para diversos sectores, utilizando tecnologías modernas y asegurando soluciones escalables y eficientes.
            • En el Frontend, trabajo con Angular 17, creando interfaces dinámicas y responsivas que mejoran la experiencia del usuario.
            • En el Backend, implemento .NET Core para desarrollar APIs robustas y servicios que garantizan un alto rendimiento y seguridad.
            • Gestiono bases de datos mediante SQL Server, optimizando el almacenamiento y la recuperación de datos para garantizar la integridad y disponibilidad de la información.

            - Proyectos Destacados

            • Desarrollé una aplicación para una consultoría y administración de proyectos, optimizando la gestión de tareas y recursos.
            • Participé en la creación de un sistema para un hospital, facilitando la administración de consultas médicas y mejorando la eficiencia operativa.
            • Colaboré en una plataforma para el control de evaluaciones online, garantizando un proceso de evaluación seguro y escalable.
        `,
        // link: '#'
    },
    {
        date: 'Abril 2021 - Mayo 2024',
        title: 'Desarrollador FullStack',
        company: 'Vianney Textil Hogar',
        description: `
            • Desarrollé aplicaciones web utilizando tecnologías como Angular 10, NodeJs 17, .NET con arquitectura MVC, GitLab y PL/SQL en Oracle, garantizando soluciones escalables y de alto rendimiento.
            • Implementé servicios automatizados en Windows con C# y NodeJs, optimizando procesos administrativos bancarios y aumentando la eficiencia operativa.
            • Desarrollé y consumí APIs usando .NET y NodeJS, mejorando los tiempos de lectura en almacén y facilitando la integración de sistemas.
            • Diseñé y desarrollé paquetes y procedimientos en PL/SQL para la generación de reportes completos y robustos, optimizando tiempos de ejecución y mejorando la precisión de los datos.
        `
    },
    {
        date: 'Mayo 2019 - Marzo 2021',
        title: 'Desarrollador FrontEnd en Angular',
        company: 'Boz IT Development',
        description: `
            • Desarrollé una plataforma web robusta en equipo para la administración de remesas, utilizando Angular 8, JavaScript, HTML y CSS.
            • Trabajé bajo metodologías Agile y Scrum, desempeñándome como líder técnico en fases clave del proyecto. Esto permitió una entrega eficiente, mejorando la productividad del equipo.
        `
    },
    {
        date: 'Septiembre 2018 - Mayo 2019',
        title: 'Desarrollador FullStack en .NET',
        company: 'Informatic Help Agenc',
        description: `
            • Me desempeñé como desarrollador Full Stack implementando una plataforma web para control de documentos fiscales, usando tecnologías como .NET en arquitectura MVC.
        `
    }
]
---

<h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
    <BriefcaseIcon class="size-7"/>
    Experiencia Laboral
<h2/>
<ol class="relative border-s border-gray-200 ml-2">
    {
        experience.map(exp => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...exp}/>
        </li>
        ))
    }
</ol>
