---
const date = new Date()
const year = date.getFullYear()
---

<footer class="flex mt-16 md:mt-24 lg:mt-36 bottom-0 left-0 z-20 w-full p-4 px-12 md:px-20 lg:px-20 border-t border-white/10 shadow md:flex md:items-center md:justify-between md:p-6">
    <!-- fixed bottom-0 left-0 z-20 w-full p-4 border-t border-white/10 shadow md:flex md:items-center md:justify-between md:p-6 -->
    <span class="text-gray-300">© {year} alfredoz™. Casi todos los derechos reservados.
    </span>
    <ul class="hidden md:flex flex-wrap items-center">
        <li>
            <a href="#" class="me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#experiencia" class="me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="#proyectos" class="me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="#habilidades" class="me-4 md:me-6">Habilidades</a>
            <a href="#sobremi">Sobre mi</a>
        </li>
    </ul>
</footer>
